<% if notice %>
  <div class="alert alert-warning"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>

<% if success %>
  <div class="alert alert-success"><%= success %></div>
<% end %>
