<section id="main-content" class="animated fadeInUp">
            <!--mail wrapper start-->
            <div class="row">
                <div class="col-md-3 col-sm-12" id="compose-wrapper">
                    <div class="panel">
                        <aside class="panel-body">
                            <ul class="nav nav-pills nav-stacked compose-nav">
                                <li class="active">
                                    <a href="#"> <i class="fa fa-inbox"></i> Inbox
                                        <span class="label label-primary label-circle pull-right inbox-notification">8</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-star-o"></i> Starred<span class="label label-circle label-warning pull-right inbox-notification">6</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-envelope-o"></i> Sent Mail</a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-bookmark-o"></i> Important</a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-pencil-square-o"></i> Drafts <span class="label label-circle label-info pull-right inbox-notification">1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="fa fa-trash-o"></i> Trash</a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
                <div class="col-md-9" id="inbox-wrapper">

                    <section class="panel">
                        <header class="panel-heading wht-bg">
                            <h4 class="gen-case">Inbox <!-- (83) -->
                    <!-- <form action="#" class="pull-right mail-src-position">
                        <div class="input-append ">
                            <input type="text" class="form-control" placeholder="Search Mail">
                        </div>
                    </form> -->
                   </h4>
                        </header>
                        <div class="panel-body minimal">
                            <div class="mail-option">
                                <div class="pull-left mail-checkbox ">
                                    <input type="checkbox" class="mail-checkbox icheck">
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                        All <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">None</a>
                                        </li>
                                        <li><a href="#">Read</a>
                                        </li>
                                        <li><a href="#">Unread</a>
                                        </li>
                                        <li><a href="#">Starred</a>
                                        </li>
                                        <li><a href="#">Unstarred</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <a data-original-title="Refresh" data-placement="top" data-toggle="tooltip" href="#" class="btn btn-default btn-sm tooltips">
                                        <i class=" fa fa-refresh"></i>
                                    </a>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                                        More <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-ban"></i> Spam</a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="inbox-pag pull-right">
                                    <li><span>1-50 of 83</span>
                                    </li>
                                    <li>
                                        <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-left  pag-left"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-right pag-right"></i></a>
                                    </li>
                                </ul>

                            </div>
                            <div class="table-responsive">
                                <table class="table table-inbox table-hover">
                                    <tbody>
                                      <% @messages.each do |msg| %>
                                        <tr class="unread">
                                            <td>
                                                <input type="checkbox" class="mail-checkbox icheck">
                                            </td>
                                            <td><i class="fa fa-star"></i>
                                            </td>
                                            <td class="message">
                                              <a href="#"><span class="title">FROM</span>
                                                Subject: <%= msg.subject %>
                                              </a>
                                            </td>
                                            <td class="text-right">April 19<span class="label label-warning pull-right">social</span>
                                            </td>
                                        </tr>
                                      <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            </div>
            <!--mail wrapper end-->
        </section>


        <% content_for :javascript do %>
               <!--Load these page level functions-->
                <script>
                $(document).ready(function() {
                     app.customCheckbox();
                     $('.tooltips').tooltip()
                });
                </script>
        <% end %>
